body {
  background-image: url("../img/stars.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
